name: Manual Telegram Script
on: 
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --force

      - name: Run Script with Variables
        # 这里通过环境变量直接把值传进去
        run: node ./lib/routes/telegram/scripts/get-telegram-session.mjs
        env:
          TELEGRAM_API_ID: ${{ secrets.TG_API_ID }}
          TELEGRAM_API_HASH: ${{ secrets.TG_API_HASH }}
          TELEGRAM_PHONE: ${{ secrets.TG_PHONE }}
